{% extends 'base.html' %}

{% block content %}
  <h2 class="my-4">List of the shared tasks to join:</h2>

  <ul>
    {% for task in shared_tasks %}
      <li>
        <strong>{{ task.title }}</strong>: {{ task.description }}

        {% if task.shared_sub_tasks.all %}
          <ul>
            {% for sub_task in task.shared_sub_tasks.all %}
              <li>{{ sub_task.title }}: {{ sub_task.description }}</li>
            {% endfor %}
          </ul>
          <a href="" class="btn btn-outline-primary mt-3">Participate Request</a>
        {% else %}
          <p>No subtasks.</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
